<?xml version="1.0" encoding="utf-8"?>
<!-- Launch file -->

<launch>
    <!-- Defining the node and executable and publishing the output on terminal-->
    <node name="imu_mpu6050_node" pkg="imu_mpu6050" type="imu_mpu6050_node" output="screen">
        <!-- loading the parameters from yaml file during th runtime -->
        <!--rosparam command="load" file="$(find imu_mpu6050_node)/config/spot_micro_motion_cmd.yaml"/ -->

    </node>
    <include file="$(find i2cpwm_board)/launch/i2cpwm_node.launch"/>
</launch>
169.254.85.82
