<?xml version="1.0" encoding="utf-8"?>
<!-- Launch file -->

<launch>
    <!-- Defining the node and executable and publishing the output on terminal-->
    <node name="motion_cmd_node" pkg="cocoa_config" type="cocoa_config_node" respawn="false" output="screen">
        <!-- loading the parameters from yaml file during th runtime -->
	<rosparam command="load" file="$(find cocoa_config)/config/spot_micro_motion_cmd.yaml"/>
	<param name="debug_mode" value="false"/>
</node>
</launch>
